In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=6dc7ec6bf3085bf8d7cacd16df4e02ca27ba5eb0b084ef33f043506ad77debca
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [15]:
# E-commerce Transactions

#Exercises:

from pyspark.sql import SparkSession
from pyspark.sql.functions import sum,avg,col

spark = SparkSession.builder.appName("E-commerce Transactions").getOrCreate()

df = spark.read.csv("/content/sample_data/Ecommercedata.csv", header=True, inferSchema=True)

#1. Calculate the Total Revenue per Category
transactions = df.withColumn("revenue", col("price") * col("quantity") * (1 - col("discount_percentage") / 100))
total_revenue_per_category = transactions.groupBy("category").agg(sum("revenue").alias("total_revenue"))
print("Total Revenue:")
total_revenue_per_category.show()

#2. Filter Transactions with a Discount Greater Than 10%
transactions_with_discount = df.filter(col("discount_percentage") > 10)
print("Transactions with Discount Greater Than 10%:")
transactions_with_discount.show()

#3. Find the Most Expensive Product Sold
most_expensive_product = transactions.orderBy(col("price").desc()).limit(1)
print("Most Expensive Product Sold:")
most_expensive_product.show()

#4. Calculate the Average Quantity of Products Sold per Category
average_quantity_per_category = transactions.groupBy("category").agg(avg("quantity").alias("average_quantity"))
print("Average Quantity of Products Sold per Category:")
average_quantity_per_category.show()

#5. Identify Customers Who Purchased More Than One Product
customers_multiple_purchases = transactions.filter(col("quantity") > 1)
print("Customers Who Purchased More Than One Product:")
customers_multiple_purchases.show()

#6. Find the Top 3 Highest Revenue Transactions
top_3_revenue = transactions.withColumn("revenue", col("price") * col("quantity") * (1 - col("discount_percentage") / 100))\
                                         .orderBy(col("revenue").desc())\
                                         .limit(3)
print("Top 3 Highest Revenue Transactions:")
top_3_revenue.show()

#7. Calculate the Total Number of Transactions per Day
transactions_per_day = transactions.groupBy("transaction_date").count().orderBy("transaction_date")
print("Total Number of Transactions per Day:")
transactions_per_day.show()

#8. Find the Customer Who Spent the Most Money
customer_total_spent = transactions.groupBy("customer_id").agg(sum("revenue").alias("total_spent"))
customer_most_spent = customer_total_spent.orderBy(col("total_spent").desc()).limit(1)
print("Customer Who Spent the Most Money:")
customer_most_spent.show()

#9. Calculate the Average Discount Given per Product Category
average_discount_per_category = transactions.groupBy("category").agg(avg("discount_percentage").alias("average_discount"))
print("Average Discount Given per Product Category:")
average_discount_per_category.show()

#10. Create a New Column for Final Price After Discount
transactions_with_final_price = transactions.withColumn("final_price", col("price") * (1 - col("discount_percentage") / 100))
print("New Column for Final Price After Discount:")
transactions_with_final_price.show()

Total Revenue:
+--------------+-------------+
|      category|total_revenue|
+--------------+-------------+
|       Fashion|        168.0|
|   Electronics|       2950.0|
|         Books|         80.0|
|Home Appliance|        756.0|
+--------------+-------------+

Transactions with Discount Greater Than 10%:
+--------------+-----------+------------+--------------+-----+--------+-------------------+----------------+
|transaction_id|customer_id|     product|      category|price|quantity|discount_percentage|transaction_date|
+--------------+-----------+------------+--------------+-----+--------+-------------------+----------------+
|             4|        104|     Blender|Home Appliance|  150|       1|                 15|      2023-08-03|
|             6|        105|       Shoes|       Fashion|   60|       1|                 20|      2023-08-04|
|             7|        106|Refrigerator|Home Appliance|  800|       1|                 25|      2023-08-05|
+--------------+-----------+------------+--------------+-----+--------+-------------------+----------------+

Most Expensive Product Sold:
+--------------+-----------+-------+-----------+-----+--------+-------------------+----------------+-------+
|transaction_id|customer_id|product|   category|price|quantity|discount_percentage|transaction_date|revenue|
+--------------+-----------+-------+-----------+-----+--------+-------------------+----------------+-------+
|             1|        101| Laptop|Electronics| 1000|       1|                 10|      2023-08-01|  900.0|
+--------------+-----------+-------+-----------+-----+--------+-------------------+----------------+-------+

Average Quantity of Products Sold per Category:
+--------------+----------------+
|      category|average_quantity|
+--------------+----------------+
|       Fashion|             2.0|
|   Electronics|            1.75|
|         Books|             4.0|
|Home Appliance|             1.0|
+--------------+----------------+

Customers Who Purchased More Than One Product:
+--------------+-----------+----------+-----------+-----+--------+-------------------+----------------+-------+
|transaction_id|customer_id|   product|   category|price|quantity|discount_percentage|transaction_date|revenue|
+--------------+-----------+----------+-----------+-----+--------+-------------------+----------------+-------+
|             2|        102|Smartphone|Electronics|  700|       2|                  5|      2023-08-01| 1330.0|
|             3|        103|     Shirt|    Fashion|   40|       3|                  0|      2023-08-02|  120.0|
|             5|        101|Headphones|Electronics|  100|       2|                 10|      2023-08-03|  180.0|
|             8|        107|      Book|      Books|   20|       4|                  0|      2023-08-05|   80.0|
|            10|        102|    Tablet|Electronics|  300|       2|                 10|      2023-08-06|  540.0|
+--------------+-----------+----------+-----------+-----+--------+-------------------+----------------+-------+

Top 3 Highest Revenue Transactions:
+--------------+-----------+------------+--------------+-----+--------+-------------------+----------------+-------+
|transaction_id|customer_id|     product|      category|price|quantity|discount_percentage|transaction_date|revenue|
+--------------+-----------+------------+--------------+-----+--------+-------------------+----------------+-------+
|             2|        102|  Smartphone|   Electronics|  700|       2|                  5|      2023-08-01| 1330.0|
|             1|        101|      Laptop|   Electronics| 1000|       1|                 10|      2023-08-01|  900.0|
|             7|        106|Refrigerator|Home Appliance|  800|       1|                 25|      2023-08-05|  600.0|
+--------------+-----------+------------+--------------+-----+--------+-------------------+----------------+-------+

Total Number of Transactions per Day:
+----------------+-----+
|transaction_date|count|
+----------------+-----+
|      2023-08-01|    2|
|      2023-08-02|    1|
|      2023-08-03|    2|
|      2023-08-04|    1|
|      2023-08-05|    2|
|      2023-08-06|    2|
+----------------+-----+

Customer Who Spent the Most Money:
+-----------+-----------+
|customer_id|total_spent|
+-----------+-----------+
|        102|     1870.0|
+-----------+-----------+

Average Discount Given per Product Category:
+--------------+----------------+
|      category|average_discount|
+--------------+----------------+
|       Fashion|            10.0|
|   Electronics|            8.75|
|         Books|             0.0|
|Home Appliance|            15.0|
+--------------+----------------+

New Column for Final Price After Discount:
+--------------+-----------+------------+--------------+-----+--------+-------------------+----------------+-------+-----------+
|transaction_id|customer_id|     product|      category|price|quantity|discount_percentage|transaction_date|revenue|final_price|
+--------------+-----------+------------+--------------+-----+--------+-------------------+----------------+-------+-----------+
|             1|        101|      Laptop|   Electronics| 1000|       1|                 10|      2023-08-01|  900.0|      900.0|
|             2|        102|  Smartphone|   Electronics|  700|       2|                  5|      2023-08-01| 1330.0|      665.0|
|             3|        103|       Shirt|       Fashion|   40|       3|                  0|      2023-08-02|  120.0|       40.0|
|             4|        104|     Blender|Home Appliance|  150|       1|                 15|      2023-08-03|  127.5|      127.5|
|             5|        101|  Headphones|   Electronics|  100|       2|                 10|      2023-08-03|  180.0|       90.0|
|             6|        105|       Shoes|       Fashion|   60|       1|                 20|      2023-08-04|   48.0|       48.0|
|             7|        106|Refrigerator|Home Appliance|  800|       1|                 25|      2023-08-05|  600.0|      600.0|
|             8|        107|        Book|         Books|   20|       4|                  0|      2023-08-05|   80.0|       20.0|
|             9|        108|     Toaster|Home Appliance|   30|       1|                  5|      2023-08-06|   28.5|       28.5|
|            10|        102|      Tablet|   Electronics|  300|       2|                 10|      2023-08-06|  540.0|      270.0|
+--------------+-----------+------------+--------------+-----+--------+-------------------+----------------+-------+-----------+

In [36]:
# Banking Transactions

#Exercises:

from pyspark.sql import SparkSession
from pyspark.sql.functions import sum,avg,col,when

spark = SparkSession.builder.appName("Banking Transactions").getOrCreate()

df = spark.read.csv("/content/sample_data/bankdata.csv", header=True, inferSchema=True)

#1. Calculate the Total Deposit and Withdrawal Amounts
total_amounts = df.groupBy("transaction_type").agg(sum("amount").alias("total_amount"))
print("Total Deposit and Withdrawal Amounts:")
total_amounts.show()

#2. Filter Transactions Greater Than $3,000
transactions_above_3000 = df.filter(col("amount") > 3000)
print("Transactions Greater Than $3,000:")
transactions_above_3000.show()

#3. Find the Largest Deposit Made
largest_deposit = df.filter(col("transaction_type") == "Deposit").orderBy(col("amount").desc()).limit(1)
print("Largest Deposit Made:")
largest_deposit.show()

#4. Calculate the Average Transaction Amount for Each Transaction Type
average_amount_per_type = df.groupBy("transaction_type").agg(avg("amount").alias("average_amount"))
print("Average Transaction Amount for Each Transaction Type:")
average_amount_per_type.show()

#5. Find Customers Who Made Both Deposits and Withdrawals
customers_deposits_withdrawals = df.groupBy("customer_id").pivot("transaction_type").agg(sum("amount"))
customers_deposits_withdrawals = customers_deposits_withdrawals.filter((col("Deposit") > 0) & (col("Withdrawal") > 0))
print("Customers Who Made Both Deposits and Withdrawals:")
customers_deposits_withdrawals.show()

#6. Calculate the Total Amount of Transactions per Day
transactions_per_day = df.groupBy("transaction_date").agg(sum("amount").alias("total_amount"))
print("Total Amount of Transactions per Day:")
transactions_per_day.show()

#7. Find the Customer with the Highest Total Withdrawal
total_withdrawals = df.filter(col("transaction_type") == "Withdrawal").groupBy("customer_id").agg(sum("amount").alias("total_withdrawn"))
customer_with_max_withdrawal = total_withdrawals.orderBy(col("total_withdrawn").desc()).limit(1)
print("Customer with the Highest Total Withdrawal:")
customer_with_max_withdrawal.show()

#8. Calculate the Number of Transactions for Each Customer
transactions_per_customer = df.groupBy("customer_id").count()
print("Number of Transactions for Each Customer:")
transactions_per_customer.show()

#9. Find All Transactions That Occurred on the Same Day as a Withdrawal Greater than $1,000
withdrawal_dates = df.filter((col("transaction_type") == "Withdrawal") & (col("amount") > 1000))\
                               .select("transaction_date").distinct()

same_day_transactions = df.join(withdrawal_dates, "transaction_date", "inner")
print("All Transactions That Occurred on the Same Day as a Withdrawal Greater than $1,000:")
same_day_transactions.show()

#10. Create a New Column to Classify Transactions as "High" or "Low" Value
transactions_with_value_class = df.withColumn("transaction_value", when(col("amount") > 5000, "High").otherwise("Low"))
print("New Column to Classify Transactions as High or Low Value:")
transactions_with_value_class.show()

Total Deposit and Withdrawal Amounts:
+----------------+------------+
|transaction_type|total_amount|
+----------------+------------+
|         Deposit|       24500|
|      Withdrawal|        7700|
+----------------+------------+

Transactions Greater Than $3,000:
+--------------+-----------+----------------+------+----------------+
|transaction_id|customer_id|transaction_type|amount|transaction_date|
+--------------+-----------+----------------+------+----------------+
|             1|        201|         Deposit|  5000|      2023-09-01|
|             5|        204|         Deposit| 10000|      2023-09-03|
|             9|        203|         Deposit|  4000|      2023-09-05|
+--------------+-----------+----------------+------+----------------+

Largest Deposit Made:
+--------------+-----------+----------------+------+----------------+
|transaction_id|customer_id|transaction_type|amount|transaction_date|
+--------------+-----------+----------------+------+----------------+
|             5|        204|         Deposit| 10000|      2023-09-03|
+--------------+-----------+----------------+------+----------------+

Average Transaction Amount for Each Transaction Type:
+----------------+--------------+
|transaction_type|average_amount|
+----------------+--------------+
|         Deposit|        4900.0|
|      Withdrawal|        1540.0|
+----------------+--------------+

Customers Who Made Both Deposits and Withdrawals:
+-----------+-------+----------+
|customer_id|Deposit|Withdrawal|
+-----------+-------+----------+
|        202|   2500|      2000|
|        204|  10000|      3000|
|        201|   5000|      1500|
+-----------+-------+----------+

Total Amount of Transactions per Day:
+----------------+------------+
|transaction_date|total_amount|
+----------------+------------+
|      2023-09-03|       10500|
|      2023-09-01|        7000|
|      2023-09-05|        7000|
|      2023-09-02|        4500|
|      2023-09-04|        3200|
+----------------+------------+

Customer with the Highest Total Withdrawal:
+-----------+---------------+
|customer_id|total_withdrawn|
+-----------+---------------+
|        204|           3000|
+-----------+---------------+

Number of Transactions for Each Customer:
+-----------+-----+
|customer_id|count|
+-----------+-----+
|        206|    1|
|        205|    1|
|        202|    2|
|        203|    2|
|        204|    2|
|        201|    2|
+-----------+-----+

All Transactions That Occurred on the Same Day as a Withdrawal Greater than $1,000:
+----------------+--------------+-----------+----------------+------+
|transaction_date|transaction_id|customer_id|transaction_type|amount|
+----------------+--------------+-----------+----------------+------+
|      2023-09-01|             1|        201|         Deposit|  5000|
|      2023-09-01|             2|        202|      Withdrawal|  2000|
|      2023-09-02|             3|        203|         Deposit|  3000|
|      2023-09-02|             4|        201|      Withdrawal|  1500|
|      2023-09-05|             9|        203|         Deposit|  4000|
|      2023-09-05|            10|        204|      Withdrawal|  3000|
+----------------+--------------+-----------+----------------+------+

New Column to Classify Transactions as High or Low Value:
+--------------+-----------+----------------+------+----------------+-----------------+
|transaction_id|customer_id|transaction_type|amount|transaction_date|transaction_value|
+--------------+-----------+----------------+------+----------------+-----------------+
|             1|        201|         Deposit|  5000|      2023-09-01|              Low|
|             2|        202|      Withdrawal|  2000|      2023-09-01|              Low|
|             3|        203|         Deposit|  3000|      2023-09-02|              Low|
|             4|        201|      Withdrawal|  1500|      2023-09-02|              Low|
|             5|        204|         Deposit| 10000|      2023-09-03|             High|
|             6|        205|      Withdrawal|   500|      2023-09-03|              Low|
|             7|        202|         Deposit|  2500|      2023-09-04|              Low|
|             8|        206|      Withdrawal|   700|      2023-09-04|              Low|
|             9|        203|         Deposit|  4000|      2023-09-05|              Low|
|            10|        204|      Withdrawal|  3000|      2023-09-05|              Low|
+--------------+-----------+----------------+------+----------------+-----------------+

In [55]:
# Health & Fitness Tracker Data

#Exercises:

from pyspark.sql import SparkSession
from pyspark.sql.functions import sum,avg,col,row_number,collect_set,size,count,when

spark = SparkSession.builder.appName("Fitness Tracker").getOrCreate()

df = spark.read.csv("/content/sample_data/healthdata.csv", header=True, inferSchema=True)

#1. Find the Total Steps Taken by Each User
total_steps_per_user = df.groupBy("user_id").agg(sum("steps").alias("total_steps"))
print("Total Steps Taken by Each User:")
total_steps_per_user.show()

#2. Filter Days with More Than 10,000 Steps
high_activity_days = df.filter(col("steps") > 10000)
print("Days with More Than 10,000 Steps:")
high_activity_days.show()

#3. Calculate the Average Calories Burned by Workout Type
average_calories_per_workout = df.groupBy("workout_type").agg(avg("calories_burned").alias("average_calories"))
print("Average Calories Burned by Workout Type:")
average_calories_per_workout.show()

#4. Identify the Day with the Most Steps for Each User
from pyspark.sql.window import Window
window = Window.partitionBy("user_id").orderBy(col("steps").desc())

most_steps_per_user = df.withColumn("row_num", row_number().over(window)).filter(col("row_num") == 1)
print("Day with the Most Steps for Each User:")
most_steps_per_user.select("user_id", "date", "steps").show()

#5. Find Users Who Burned More Than 600 Calories on Any Day
high_calorie_users = df.filter(col("calories_burned") > 600)
print("Users Who Burned More Than 600 Calories on Any Day:")
high_calorie_users.show()

#6. Calculate the Average Hours of Sleep per User
average_sleep_per_user = df.groupBy("user_id").agg(avg("hours_of_sleep").alias("average_sleep"))
print("Average Hours of Sleep per User:")
average_sleep_per_user.show()

#7. Find the Total Calories Burned per Day
total_calories_per_day = df.groupBy("date").agg(sum("calories_burned").alias("total_calories"))
print("Total Calories Burned per Day:")
total_calories_per_day.show()

#8. Identify Users Who Did Different Types of Workouts
users_multiple_workouts = df.groupBy("user_id").agg(collect_set("workout_type").alias("workout_types"))

users_multiple_workouts = users_multiple_workouts.filter(size(col("workout_types")) > 1)
print("Users Who Did Different Types of Workouts:")
users_multiple_workouts.show()

#9. Calculate the Total Number of Workouts per User
total_workouts_per_user = df.groupBy("user_id").agg(count("workout_type").alias("total_workouts"))
print("Total Number of Workouts per User:")
total_workouts_per_user.show()

#10. Create a New Column for "Active" Days
tracker_data_with_active_days = df.withColumn("active_day", when(col("steps") > 10000, "Active").otherwise("Inactive"))
print("New Column for Active Days:")
tracker_data_with_active_days.show()

Total Steps Taken by Each User:
+-------+-----------+
|user_id|total_steps|
+-------+-----------+
|      1|      35000|
|      3|      45000|
|      2|      29500|
+-------+-----------+

Days with More Than 10,000 Steps:
+-------+----------+-----+---------------+--------------+------------+
|user_id|      date|steps|calories_burned|hours_of_sleep|workout_type|
+-------+----------+-----+---------------+--------------+------------+
|      1|2023-09-01|12000|            500|           7.0|      Cardio|
|      3|2023-09-01|15000|            650|           8.0|        Yoga|
|      3|2023-09-02|14000|            600|           7.5|    Strength|
|      1|2023-09-03|13000|            550|           8.0|        Yoga|
|      2|2023-09-03|12000|            520|           6.5|        Yoga|
|      3|2023-09-03|16000|            700|           7.0|      Cardio|
+-------+----------+-----+---------------+--------------+------------+

Average Calories Burned by Workout Type:
+------------+-----------------+
|workout_type| average_calories|
+------------+-----------------+
|    Strength|            500.0|
|        Yoga|573.3333333333334|
|      Cardio|            537.5|
+------------+-----------------+

Day with the Most Steps for Each User:
+-------+----------+-----+
|user_id|      date|steps|
+-------+----------+-----+
|      1|2023-09-03|13000|
|      2|2023-09-03|12000|
|      3|2023-09-03|16000|
+-------+----------+-----+

Users Who Burned More Than 600 Calories on Any Day:
+-------+----------+-----+---------------+--------------+------------+
|user_id|      date|steps|calories_burned|hours_of_sleep|workout_type|
+-------+----------+-----+---------------+--------------+------------+
|      3|2023-09-01|15000|            650|           8.0|        Yoga|
|      3|2023-09-03|16000|            700|           7.0|      Cardio|
+-------+----------+-----+---------------+--------------+------------+

Average Hours of Sleep per User:
+-------+-----------------+
|user_id|    average_sleep|
+-------+-----------------+
|      1|              7.0|
|      3|              7.5|
|      2|6.666666666666667|
+-------+-----------------+

Total Calories Burned per Day:
+----------+--------------+
|      date|total_calories|
+----------+--------------+
|2023-09-03|          1770|
|2023-09-01|          1550|
|2023-09-02|          1550|
+----------+--------------+

Users Who Did Different Types of Workouts:
+-------+--------------------+
|user_id|       workout_types|
+-------+--------------------+
|      1|      [Yoga, Cardio]|
|      3|[Yoga, Cardio, St...|
|      2|[Yoga, Cardio, St...|
+-------+--------------------+

Total Number of Workouts per User:
+-------+--------------+
|user_id|total_workouts|
+-------+--------------+
|      1|             3|
|      3|             3|
|      2|             3|
+-------+--------------+

New Column for Active Days:
+-------+----------+-----+---------------+--------------+------------+----------+
|user_id|      date|steps|calories_burned|hours_of_sleep|workout_type|active_day|
+-------+----------+-----+---------------+--------------+------------+----------+
|      1|2023-09-01|12000|            500|           7.0|      Cardio|    Active|
|      2|2023-09-01| 8000|            400|           6.5|    Strength|  Inactive|
|      3|2023-09-01|15000|            650|           8.0|        Yoga|    Active|
|      1|2023-09-02|10000|            450|           6.0|      Cardio|  Inactive|
|      2|2023-09-02| 9500|            500|           7.0|      Cardio|  Inactive|
|      3|2023-09-02|14000|            600|           7.5|    Strength|    Active|
|      1|2023-09-03|13000|            550|           8.0|        Yoga|    Active|
|      2|2023-09-03|12000|            520|           6.5|        Yoga|    Active|
|      3|2023-09-03|16000|            700|           7.0|      Cardio|    Active|
+-------+----------+-----+---------------+--------------+------------+----------+

In [71]:
#Music Streaming

#Exercises:

from pyspark.sql import SparkSession
from pyspark.sql.functions import sum,avg,col,row_number,collect_set,size,count,when

spark = SparkSession.builder.appName("Music Streaming").getOrCreate()

df = spark.read.csv("/content/sample_data/musicdata.csv", header=True, inferSchema=True)

#1. Calculate the Total Listening Time for Each User
total_listening_time = df.groupBy("user_id").agg(sum("duration_seconds").alias("total_listening_time"))
print("Total Listening Time for Each User:")
total_listening_time.show()

#2. Filter Songs Streamed for More Than 200 Seconds
long_songs = df.filter(col("duration_seconds") > 200)
print("Songs Streamed for More Than 200 Seconds:")
long_songs.show()

#3. Find the Most Popular Artist (by Total Streams)
most_popular_artist = df.groupBy("artist").agg(count("song_title").alias("total_streams")).orderBy(col("total_streams").desc())
print("Most Popular Artist:")
most_popular_artist.show(1)

#4. Identify the Song with the Longest Duration
longest_song = df.orderBy(col("duration_seconds").desc()).limit(1)
print("Song with the Longest Duration:")
longest_song.show()

#5. Calculate the Average Song Duration by Artist
average_duration_per_artist = df.groupBy("artist").agg(avg("duration_seconds").alias("average_duration"))
print("Average Song Duration by Artist:")
average_duration_per_artist.show()

#6. Find the Top 3 Most Streamed Songs per User
from pyspark.sql.window import Window

window = Window.partitionBy("user_id").orderBy(col("duration_seconds").desc())

top_songs_per_user = df.withColumn("rank", row_number().over(window)).filter(col("rank") <= 3)
print("Top 3 Most Streamed Songs per User:")
top_songs_per_user.show()

#7. Calculate the Total Number of Streams per Day
from pyspark.sql.functions import to_date

streams_per_day = df.withColumn("streaming_date", to_date("streaming_time")).groupBy("streaming_date").count()
print("Total Number of Streams per Day:")
streams_per_day.show()

#8. Identify Users Who Streamed Songs from More Than One Artist
users_multiple_artists = df.groupBy("user_id").agg(collect_set("artist").alias("artists_list"))
users_multiple_artists = users_multiple_artists.filter(size(col("artists_list")) > 1)
print("Users Who Streamed Songs from More Than One Artist:")
users_multiple_artists.show()

#9. Calculate the Total Streams for Each Location
streams_per_location = df.groupBy("location").count().alias("total_streams")
print("Total Streams for Each Location:")
streams_per_location.show()

#10. Create a New Column to Classify Long and Short Songs
df_with_song_length = df.withColumn("song_length", when(col("duration_seconds") > 200, "Long").otherwise("Short"))
print("New Column to Classify Long and Short Songs:")
df_with_song_length.show()

Total Listening Time for Each User:
+-------+--------------------+
|user_id|total_listening_time|
+-------+--------------------+
|      1|                 630|
|      3|                 610|
|      2|                 680|
+-------+--------------------+

Songs Streamed for More Than 200 Seconds:
+-------+---------------+----------+----------------+-------------------+-----------+
|user_id|     song_title|    artist|duration_seconds|     streaming_time|   location|
+-------+---------------+----------+----------------+-------------------+-----------+
|      2|   Shape of You|Ed Sheeran|             240|2023-09-01 09:20:00|Los Angeles|
|      1|        Starboy|The Weeknd|             220|2023-09-01 11:00:00|   New York|
|      2|        Perfect|Ed Sheeran|             250|2023-09-01 12:15:00|Los Angeles|
|      1|Save Your Tears|The Weeknd|             210|2023-09-02 09:00:00|   New York|
|      3|      New Rules|  Dua Lipa|             230|2023-09-02 11:00:00|     London|
+-------+---------------+----------+----------------+-------------------+-----------+

Most Popular Artist:
+--------+-------------+
|  artist|total_streams|
+--------+-------------+
|Dua Lipa|            3|
+--------+-------------+
only showing top 1 row

Song with the Longest Duration:
+-------+----------+----------+----------------+-------------------+-----------+
|user_id|song_title|    artist|duration_seconds|     streaming_time|   location|
+-------+----------+----------+----------------+-------------------+-----------+
|      2|   Perfect|Ed Sheeran|             250|2023-09-01 12:15:00|Los Angeles|
+-------+----------+----------+----------------+-------------------+-----------+

Average Song Duration by Artist:
+----------+------------------+
|    artist|  average_duration|
+----------+------------------+
|  Dua Lipa|203.33333333333334|
|Ed Sheeran|226.66666666666666|
|The Weeknd|             210.0|
+----------+------------------+

Top 3 Most Streamed Songs per User:
+-------+---------------+----------+----------------+-------------------+-----------+----+
|user_id|     song_title|    artist|duration_seconds|     streaming_time|   location|rank|
+-------+---------------+----------+----------------+-------------------+-----------+----+
|      1|        Starboy|The Weeknd|             220|2023-09-01 11:00:00|   New York|   1|
|      1|Save Your Tears|The Weeknd|             210|2023-09-02 09:00:00|   New York|   2|
|      1|Blinding Lights|The Weeknd|             200|2023-09-01 08:15:00|   New York|   3|
|      2|        Perfect|Ed Sheeran|             250|2023-09-01 12:15:00|Los Angeles|   1|
|      2|   Shape of You|Ed Sheeran|             240|2023-09-01 09:20:00|Los Angeles|   2|
|      2|    Galway Girl|Ed Sheeran|             190|2023-09-02 10:00:00|Los Angeles|   3|
|      3|      New Rules|  Dua Lipa|             230|2023-09-02 11:00:00|     London|   1|
|      3|Don't Start Now|  Dua Lipa|             200|2023-09-02 08:10:00|     London|   2|
|      3|     Levitating|  Dua Lipa|             180|2023-09-01 10:30:00|     London|   3|
+-------+---------------+----------+----------------+-------------------+-----------+----+

Total Number of Streams per Day:
+--------------+-----+
|streaming_date|count|
+--------------+-----+
|    2023-09-01|    5|
|    2023-09-02|    4|
+--------------+-----+

Users Who Streamed Songs from More Than One Artist:
+-------+------------+
|user_id|artists_list|
+-------+------------+
+-------+------------+

Total Streams for Each Location:
+-----------+-----+
|   location|count|
+-----------+-----+
|Los Angeles|    3|
|     London|    3|
|   New York|    3|
+-----------+-----+

New Column to Classify Long and Short Songs:
+-------+---------------+----------+----------------+-------------------+-----------+-----------+
|user_id|     song_title|    artist|duration_seconds|     streaming_time|   location|song_length|
+-------+---------------+----------+----------------+-------------------+-----------+-----------+
|      1|Blinding Lights|The Weeknd|             200|2023-09-01 08:15:00|   New York|      Short|
|      2|   Shape of You|Ed Sheeran|             240|2023-09-01 09:20:00|Los Angeles|       Long|
|      3|     Levitating|  Dua Lipa|             180|2023-09-01 10:30:00|     London|      Short|
|      1|        Starboy|The Weeknd|             220|2023-09-01 11:00:00|   New York|       Long|
|      2|        Perfect|Ed Sheeran|             250|2023-09-01 12:15:00|Los Angeles|       Long|
|      3|Don't Start Now|  Dua Lipa|             200|2023-09-02 08:10:00|     London|      Short|
|      1|Save Your Tears|The Weeknd|             210|2023-09-02 09:00:00|   New York|       Long|
|      2|    Galway Girl|Ed Sheeran|             190|2023-09-02 10:00:00|Los Angeles|      Short|
|      3|      New Rules|  Dua Lipa|             230|2023-09-02 11:00:00|     London|       Long|
+-------+---------------+----------+----------------+-------------------+-----------+-----------+

In [87]:
#Retail Store Sales

#Exercises:

from pyspark.sql import SparkSession
from pyspark.sql.functions import sum,avg,col,row_number,collect_set,size,count,when

spark = SparkSession.builder.appName("Retail Store Sales").getOrCreate()

df = spark.read.csv("/content/sample_data/retailsalesdata.csv", header=True, inferSchema=True)

#1. Calculate the Total Revenue per Category
print("Total Revenue per Category:")
df.withColumn('revenue', col('price') * col('quantity')) \
  .groupBy('category') \
  .agg(sum('revenue').alias('total_revenue')) \
  .show()

#2. Filter Transactions Where the Total Sales Amount is Greater Than $100
print("Transactions Where the Total Sales Amount is Greater Than $100:")
df.withColumn('total_sales', col('price') * col('quantity')) \
  .filter(col('total_sales') > 100) \
  .show()

#3. Find the Most Sold Product
print("Most Sold Product:")
df.groupBy('product_name') \
  .agg(sum('quantity').alias('total_quantity')) \
  .orderBy(col('total_quantity').desc()) \
  .limit(1) \
  .show()

#4. Calculate the Average Price per Product Category
print("Average Price per Product Category:")
df.groupBy('category') \
  .agg(avg('price').alias('average_price')) \
  .show()

#5. Find the Top 3 Highest Grossing Products
print("Top 3 Highest Grossing Products:")
df.withColumn('revenue', col('price') * col('quantity')) \
  .groupBy('product_name') \
  .agg(sum('revenue').alias('total_revenue')) \
  .orderBy(col('total_revenue').desc()) \
  .show(3)

#6. Calculate the Total Number of Items Sold per Day
print("Total Number of Items Sold per Day:")
df.groupBy('sales_date') \
  .agg(sum('quantity').alias('total_quantity')) \
  .show()

#7. Identify the Product with the Lowest Price in Each Category
window = Window.partitionBy('category').orderBy(col('price'))
print("Product with the Lowest Price in Each Category:")
df.withColumn('rank', row_number().over(window)) \
  .filter(col('rank') == 1) \
  .select('category', 'product_name', 'price') \
  .show()

#8. Calculate the Total Revenue for Each Product
print("Total Revenue for Each Product:")
df.withColumn('revenue', col('price') * col('quantity')) \
  .groupBy('product_name') \
  .agg(sum('revenue').alias('total_revenue')) \
  .show()

#9. Find the Total Sales per Day for Each Category
print("Total Sales per Day for Each Category:")
df.withColumn('revenue', col('price') * col('quantity')) \
  .groupBy('sales_date', 'category') \
  .agg(sum('revenue').alias('total_sales')) \
  .show()

#10. Create a New Column for Discounted Price
print("New Column for Discounted Price:")
df.withColumn('discounted_price', col('price') * 0.9) \
  .show()

Total Revenue per Category:
+-----------+------------------+
|   category|     total_revenue|
+-----------+------------------+
| Stationery|              20.0|
|  Groceries|13.399999999999999|
|Electronics|            1000.0|
|   Clothing|             155.0|
+-----------+------------------+

Transactions Where the Total Sales Amount is Greater Than $100:
+--------------+------------+-----------+-----+--------+----------+-----------+
|transaction_id|product_name|   category|price|quantity|sales_date|total_sales|
+--------------+------------+-----------+-----+--------+----------+-----------+
|             5|      Laptop|Electronics|800.0|       1|2023-09-03|      800.0|
|             7|  Headphones|Electronics|100.0|       2|2023-09-04|      200.0|
+--------------+------------+-----------+-----+--------+----------+-----------+

Most Sold Product:
+------------+--------------+
|product_name|total_quantity|
+------------+--------------+
|      Banana|            12|
+------------+--------------+

Average Price per Product Category:
+-----------+------------------+
|   category|     average_price|
+-----------+------------------+
| Stationery|               1.5|
|  Groceries|0.4666666666666666|
|Electronics|             450.0|
|   Clothing|              30.0|
+-----------+------------------+

Top 3 Highest Grossing Products:
+------------+-------------+
|product_name|total_revenue|
+------------+-------------+
|      Laptop|        800.0|
|  Headphones|        200.0|
|       Pants|         75.0|
+------------+-------------+
only showing top 3 rows

Total Number of Items Sold per Day:
+----------+--------------+
|sales_date|total_quantity|
+----------+--------------+
|2023-09-03|             4|
|2023-09-01|            12|
|2023-09-05|             9|
|2023-09-02|            17|
|2023-09-04|            12|
+----------+--------------+

Product with the Lowest Price in Each Category:
+-----------+------------+-----+
|   category|product_name|price|
+-----------+------------+-----+
|   Clothing|     T-shirt| 15.0|
|Electronics|  Headphones|100.0|
|  Groceries|      Banana|  0.3|
| Stationery|         Pen|  1.0|
+-----------+------------+-----+

Total Revenue for Each Product:
+------------+------------------+
|product_name|     total_revenue|
+------------+------------------+
|     T-shirt|              30.0|
|    Sneakers|              50.0|
|      Orange|               4.8|
|      Banana|3.5999999999999996|
|         Pen|              10.0|
|       Pants|              75.0|
|      Laptop|             800.0|
|    Notebook|              10.0|
|       Apple|               5.0|
|  Headphones|             200.0|
+------------+------------------+

Total Sales per Day for Each Category:
+----------+-----------+------------------+
|sales_date|   category|       total_sales|
+----------+-----------+------------------+
|2023-09-03|Electronics|             800.0|
|2023-09-01|  Groceries|               5.0|
|2023-09-01|   Clothing|              30.0|
|2023-09-02| Stationery|              10.0|
|2023-09-04| Stationery|              10.0|
|2023-09-02|  Groceries|3.5999999999999996|
|2023-09-05|  Groceries|               4.8|
|2023-09-05|   Clothing|              50.0|
|2023-09-03|   Clothing|              75.0|
|2023-09-04|Electronics|             200.0|
+----------+-----------+------------------+

New Column for Discounted Price:
+--------------+------------+-----------+-----+--------+----------+----------------+
|transaction_id|product_name|   category|price|quantity|sales_date|discounted_price|
+--------------+------------+-----------+-----+--------+----------+----------------+
|             1|       Apple|  Groceries|  0.5|      10|2023-09-01|            0.45|
|             2|     T-shirt|   Clothing| 15.0|       2|2023-09-01|            13.5|
|             3|    Notebook| Stationery|  2.0|       5|2023-09-02|             1.8|
|             4|      Banana|  Groceries|  0.3|      12|2023-09-02|            0.27|
|             5|      Laptop|Electronics|800.0|       1|2023-09-03|           720.0|
|             6|       Pants|   Clothing| 25.0|       3|2023-09-03|            22.5|
|             7|  Headphones|Electronics|100.0|       2|2023-09-04|            90.0|
|             8|         Pen| Stationery|  1.0|      10|2023-09-04|             0.9|
|             9|      Orange|  Groceries|  0.6|       8|2023-09-05|            0.54|
|            10|    Sneakers|   Clothing| 50.0|       1|2023-09-05|            45.0|
+--------------+------------+-----------+-----+--------+----------+----------------+