In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=a927009f7b33b0ed329fb84c24df7e04411d197cded9db531574d247ec215eea
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [22]:
#Fitness Tracker

#Exercises:

from pyspark.sql import SparkSession
from pyspark.sql.functions import sum,avg

spark = SparkSession.builder.appName("FitnessTracker").getOrCreate()

df = spark.read.csv("/content/sample_data/fitnessdata.csv", header=True, inferSchema=True)

#1. Find the Total Steps Taken by Each User
total_steps_df = df.groupBy("user_id").agg(sum("steps").alias("total_steps"))
print("Total Steps by Each User:")
total_steps_df.show()

#2. Filter Days Where a User Burned More Than 500 Calories
filtered_days_df = df.filter(df.calories > 500)
print("Days with More than 500 Calories Burned:")
filtered_days_df.show()

#3. Calculate the Average Distance Traveled by Each User
average_distance_df = df.groupBy("user_id").agg(avg("distance_km").alias("average_distance"))
print("Average Distance Traveled by Each User:")
average_distance_df.show()

#4. Identify the Day with the Maximum Steps for Each User
max_steps_per_user = df.groupBy("user_id", "date").agg(max("steps").alias("max_steps"))
print("Day with maximum steps: ")
max_steps_per_user.show()

#5. Find Users Who Were Active for More Than 100 Minutes on Any Day
active_users_df = df.filter(df.active_minutes > 100).select("user_id").distinct()
print("Users active for more than 100 minutes on any day:")
active_users_df.show()

#6. Calculate the Total Calories Burned per Day
# Total calories burned per day
total_calories_df = df.groupBy("date").agg(sum("calories").alias("total_calories"))
print("Total calories burned per day:")
total_calories_df.show()

#7. Calculate the Average Steps per Day
average_steps_df = df.groupBy("date").agg(avg("steps").alias("average_steps"))
print("Average steps per day:")
average_steps_df.show()

#8. Rank Users by Total Distance Traveled
from pyspark.sql.functions import rank
from pyspark.sql.window import Window

total_distance_df = df.groupBy("user_id").agg(sum("distance_km").alias("total_distance"))

window = Window.orderBy(total_distance_df["total_distance"].desc())
ranked_users_df = total_distance_df.withColumn("rank", rank().over(window))
print("Users ranked by total distance traveled:")
ranked_users_df.show()

#9. Find the Most Active User by Total Active Minutes
most_active_user_df = df.groupBy("user_id").agg(sum("active_minutes").alias("total_active_minutes")).orderBy("total_active_minutes", ascending=False).limit(1)
print("Most active user by total active minutes:")
most_active_user_df.show()

#10. Create a New Column for Calories Burned per Kilometer
calories_per_km_df = df.withColumn("calories_per_km", (col("calories") / col("distance_km")))
print("New column for calories burned per kilometer:")
calories_per_km_df.show()

Total Steps by Each User:
+-------+-----------+
|user_id|total_steps|
+-------+-----------+
|      1|      33000|
|      3|      44000|
|      2|      24000|
+-------+-----------+

Days with More than 500 Calories Burned:
+-------+----------+-----+--------+-----------+--------------+
|user_id|      date|steps|calories|distance_km|active_minutes|
+-------+----------+-----+--------+-----------+--------------+
|      3|2023-07-01|15000|     600|       10.2|           120|
|      3|2023-07-02|13000|     520|        9.0|           100|
|      3|2023-07-03|16000|     620|       11.0|           130|
+-------+----------+-----+--------+-----------+--------------+

Average Distance Traveled by Each User:
+-------+------------------+
|user_id|  average_distance|
+-------+------------------+
|      1| 7.833333333333333|
|      3|10.066666666666666|
|      2| 5.566666666666667|
+-------+------------------+

Day with maximum steps:
+-------+----------+---------+
|user_id|      date|max_steps|
+-------+----------+---------+
|      2|2023-07-03|     7000|
|      1|2023-07-02|    11000|
|      3|2023-07-02|    13000|
|      2|2023-07-01|     8000|
|      3|2023-07-01|    15000|
|      3|2023-07-03|    16000|
|      2|2023-07-02|     9000|
|      1|2023-07-01|    12000|
|      1|2023-07-03|    10000|
+-------+----------+---------+

Users active for more than 100 minutes on any day:
+-------+
|user_id|
+-------+
|      3|
+-------+

Total calories burned per day:
+----------+--------------+
|      date|total_calories|
+----------+--------------+
|2023-07-02|          1400|
|2023-07-03|          1390|
|2023-07-01|          1450|
+----------+--------------+

Average steps per day:
+----------+------------------+
|      date|     average_steps|
+----------+------------------+
|2023-07-02|           11000.0|
|2023-07-03|           11000.0|
|2023-07-01|11666.666666666666|
+----------+------------------+

Users ranked by total distance traveled:
+-------+------------------+----+
|user_id|    total_distance|rank|
+-------+------------------+----+
|      3|              30.2|   1|
|      1|              23.5|   2|
|      2|16.700000000000003|   3|
+-------+------------------+----+

Most active user by total active minutes:
+-------+--------------------+
|user_id|total_active_minutes|
+-------+--------------------+
|      3|                 350|
+-------+--------------------+

New column for calories burned per kilometer:
+-------+----------+-----+--------+-----------+--------------+-----------------+
|user_id|      date|steps|calories|distance_km|active_minutes|  calories_per_km|
+-------+----------+-----+--------+-----------+--------------+-----------------+
|      1|2023-07-01|12000|     500|        8.5|            90| 58.8235294117647|
|      2|2023-07-01| 8000|     350|        5.6|            60|62.50000000000001|
|      3|2023-07-01|15000|     600|       10.2|           120|58.82352941176471|
|      1|2023-07-02|11000|     480|        7.9|            85|60.75949367088607|
|      2|2023-07-02| 9000|     400|        6.2|            70|64.51612903225806|
|      3|2023-07-02|13000|     520|        9.0|           100|57.77777777777778|
|      1|2023-07-03|10000|     450|        7.1|            80|63.38028169014085|
|      2|2023-07-03| 7000|     320|        4.9|            55| 65.3061224489796|
|      3|2023-07-03|16000|     620|       11.0|           130|56.36363636363637|
+-------+----------+-----+--------+-----------+--------------+-----------------+

In [33]:
#Book Sales

#Exercises:

from pyspark.sql.functions import sum, col, avg ,month

df = spark.read.csv("/content/sample_data/booksalesdata.csv", header=True, inferSchema=True)

#1. Find Total Sales Revenue per Genre
total_revenue_df = df.withColumn("total_sales", col("sale_price") * col("quantity")) \
                     .groupBy("genre").agg(sum("total_sales").alias("total_revenue"))
print("Total sales revenue per genre:")
total_revenue_df.show()

#2. Filter Books Sold in the "Fiction" Genre
fiction_books_df = df.filter(col("genre") == "Fiction")
print("Books sold in the 'Fiction' genre:")
fiction_books_df.show()

#3. Find the Book with the Highest Sale Price
highest_price_book_df = df.orderBy(col("sale_price").desc()).limit(1)
print("Book with the highest sale price:")
highest_price_book_df.show()

#4. Calculate Total Quantity of Books Sold by Author
total_quantity_by_author_df = df.groupBy("author").agg(sum("quantity").alias("total_quantity"))
print("Total quantity of books sold by author:")
total_quantity_by_author_df.show()

#5. Identify Sales Transactions Worth More Than $50
expensive_transactions_df = df.filter(col("sale_price") > 50)
print("Sales transactions worth more than $50:")
expensive_transactions_df.show()

#6. Find the Average Sale Price per Genre
avg_sale_price_df = df.groupBy("genre").agg(avg("sale_price").alias("avg_sale_price"))
print("Average sale price per genre:")
avg_sale_price_df.show()

#7. Count the Number of Unique Authors in the Dataset
unique_authors_count = df.select("author").distinct().count()
print(f"Number of unique authors: {unique_authors_count}")

#8. Find the Top 3 Best-Selling Books by Quantity
top_3_best_selling_df = df.orderBy(col("quantity").desc()).limit(3)
print("Top 3 best-selling books by quantity:")
top_3_best_selling_df.show()

#9. Calculate Total Sales for Each Month
df = df.withColumn("month", month(col("date")))
total_sales_per_month_df = df.groupBy("month").agg(sum("sale_price").alias("total_sales"))
print("Total sales for each month:")
total_sales_per_month_df.show()

#10. Create a New Column for Total Sales Amount
total_sales_amount_df = df.withColumn("total_sales_amount", col("sale_price") * col("quantity"))
print("New column for total sales amount:")
total_sales_amount_df.show()

Total sales revenue per genre:
+---------------+-----------------+
|          genre|    total_revenue|
+---------------+-----------------+
|        Fiction|            135.9|
|      Self-Help|            68.97|
|Science Fiction|            25.99|
|    Non-Fiction|             22.5|
|      Biography|95.97999999999999|
+---------------+-----------------+

Books sold in the 'Fiction' genre:
+-------+--------------------+-------------------+-------+----------+--------+----------+
|sale_id|          book_title|             author|  genre|sale_price|quantity|      date|
+-------+--------------------+-------------------+-------+----------+--------+----------+
|      1|The Catcher in th...|      J.D. Salinger|Fiction|     15.99|       2|2023-01-05|
|      2|To Kill a Mocking...|         Harper Lee|Fiction|     18.99|       1|2023-01-10|
|      6|    The Great Gatsby|F. Scott Fitzgerald|Fiction|     10.99|       5|2023-03-15|
|      9|                1984|      George Orwell|Fiction|     14.99|       2|2023-04-12|
+-------+--------------------+-------------------+-------+----------+--------+----------+

Book with the highest sale price:
+-------+----------+-------------+---------------+----------+--------+----------+
|sale_id|book_title|       author|          genre|sale_price|quantity|      date|
+-------+----------+-------------+---------------+----------+--------+----------+
|      8|      Dune|Frank Herbert|Science Fiction|     25.99|       1|2023-04-10|
+-------+----------+-------------+---------------+----------+--------+----------+

Total quantity of books sold by author:
+-------------------+--------------+
|             author|total_quantity|
+-------------------+--------------+
|      Frank Herbert|             1|
|         Harper Lee|             1|
|      George Orwell|             2|
|F. Scott Fitzgerald|             5|
|     Michelle Obama|             3|
|      J.D. Salinger|             2|
|     Charles Duhigg|             1|
|  Yuval Noah Harari|             1|
|        James Clear|             3|
|      Tara Westover|             2|
+-------------------+--------------+

Sales transactions worth more than $50:
+-------+----------+------+-----+----------+--------+----+
|sale_id|book_title|author|genre|sale_price|quantity|date|
+-------+----------+------+-----+----------+--------+----+
+-------+----------+------+-----+----------+--------+----+

Average sale price per genre:
+---------------+------------------+
|          genre|    avg_sale_price|
+---------------+------------------+
|        Fiction|             15.24|
|      Self-Help|17.494999999999997|
|Science Fiction|             25.99|
|    Non-Fiction|              22.5|
|      Biography|18.994999999999997|
+---------------+------------------+

Number of unique authors: 10
Top 3 best-selling books by quantity:
+-------+----------------+-------------------+---------+----------+--------+----------+
|sale_id|      book_title|             author|    genre|sale_price|quantity|      date|
+-------+----------------+-------------------+---------+----------+--------+----------+
|      6|The Great Gatsby|F. Scott Fitzgerald|  Fiction|     10.99|       5|2023-03-15|
|      3|        Becoming|     Michelle Obama|Biography|      20.0|       3|2023-02-12|
|      7|   Atomic Habits|        James Clear|Self-Help|     16.99|       3|2023-04-01|
+-------+----------------+-------------------+---------+----------+--------+----------+

Total sales for each month:
+-----+------------------+
|month|       total_sales|
+-----+------------------+
|    1|             34.98|
|    3|28.979999999999997|
|    5|              18.0|
|    4|             57.97|
|    2|              42.5|
+-----+------------------+

New column for total sales amount:
+-------+--------------------+-------------------+---------------+----------+--------+----------+-----+------------------+
|sale_id|          book_title|             author|          genre|sale_price|quantity|      date|month|total_sales_amount|
+-------+--------------------+-------------------+---------------+----------+--------+----------+-----+------------------+
|      1|The Catcher in th...|      J.D. Salinger|        Fiction|     15.99|       2|2023-01-05|    1|             31.98|
|      2|To Kill a Mocking...|         Harper Lee|        Fiction|     18.99|       1|2023-01-10|    1|             18.99|
|      3|            Becoming|     Michelle Obama|      Biography|      20.0|       3|2023-02-12|    2|              60.0|
|      4|             Sapiens|  Yuval Noah Harari|    Non-Fiction|      22.5|       1|2023-02-15|    2|              22.5|
|      5|            Educated|      Tara Westover|      Biography|     17.99|       2|2023-03-10|    3|             35.98|
|      6|    The Great Gatsby|F. Scott Fitzgerald|        Fiction|     10.99|       5|2023-03-15|    3|             54.95|
|      7|       Atomic Habits|        James Clear|      Self-Help|     16.99|       3|2023-04-01|    4|             50.97|
|      8|                Dune|      Frank Herbert|Science Fiction|     25.99|       1|2023-04-10|    4|             25.99|
|      9|                1984|      George Orwell|        Fiction|     14.99|       2|2023-04-12|    4|             29.98|
|     10|  The Power of Habit|     Charles Duhigg|      Self-Help|      18.0|       1|2023-05-01|    5|              18.0|
+-------+--------------------+-------------------+---------------+----------+--------+----------+-----+------------------+

In [47]:
#Food Delivery Orders

#Exercises:

from pyspark.sql.functions import sum, col, avg ,month

df = spark.read.csv("/content/sample_data/fooddata.csv", header=True, inferSchema=True)

#1. Calculate Total Revenue per Restaurant
total_revenue_df = df.withColumn("total_revenue", col("price") * col("quantity")) \
                     .groupBy("restaurant_name").agg(sum("total_revenue").alias("total_revenue"))
print("Total Revenue:")
total_revenue_df.show()

#2. Find the Fastest Delivery
fastest_delivery_df = df.orderBy(col("delivery_time_mins").asc()).limit(1)
print("Fastest Delivery:")
fastest_delivery_df.show()

#3. Calculate Average Delivery Time per Restaurant
avg_delivery_time_df = df.groupBy("restaurant_name").agg(avg("delivery_time_mins").alias("avg_delivery_time"))
print("Average Delivery Time:")
avg_delivery_time_df.show()

#4. Filter Orders for a Specific Customer
customer_orders_df = df.filter(col("customer_id") == 201)
print("Orders for a specific customer:")
customer_orders_df.show()

#5. Find Orders Where Total Amount Spent is Greater Than $20
high_spending_orders_df = df.withColumn("total_amount", col("price") * col("quantity")) \
                            .filter(col("total_amount") > 20)
print("Orders with total amount greater than $20:")
high_spending_orders_df.show()

#6. Calculate the Total Quantity of Each Food Item Sold
total_quantity_df = df.groupBy("food_item").agg(sum("quantity").alias("total_quantity"))
print("Total quantity of each food item sold:")
total_quantity_df.show()

#7. Find the Top 3 Most Popular Restaurants by Number of Orders
top_3_popular_restaurants_df = df.groupBy("restaurant_name").count().orderBy(col("count").desc()).limit(3)
print("Top 3 most popular restaurants by number of orders:")
top_3_popular_restaurants_df.show()

#8. Calculate Total Revenue per Day
total_revenue_per_day_df = df.withColumn("total_revenue", col("price") * col("quantity")) \
                             .groupBy("order_d").agg(sum("total_revenue").alias("total_revenue"))
print("Total Revenue per Day:")
total_revenue_per_day_df.show()

#9. Find the Longest Delivery Time for Each Restaurant
longest_delivery_time_df = df.groupBy("restaurant_name").agg(max("delivery_time_mins").alias("longest_delivery_time"))
print("Longest Delivery Time for Each Restaurant:")
longest_delivery_time_df.show()

#10. Create a New Column for Total Order Value
total_order_value_df = df.withColumn("total_order_value", col("price") * col("quantity"))
print("New column for total order value:")
total_order_value_df.show()

Total Revenue:
+---------------+------------------+
|restaurant_name|     total_revenue|
+---------------+------------------+
|         Subway|              13.0|
|      Pizza Hut|             12.99|
|    Burger King|              6.99|
|            KFC|             35.96|
|       Domino's|             23.98|
|     McDonald's|20.950000000000003|
|      Starbucks|              13.5|
+---------------+------------------+

Fastest Delivery:
+--------+-----------+---------------+---------+--------+-----+------------------+----------+
|order_id|customer_id|restaurant_name|food_item|quantity|price|delivery_time_mins|   order_d|
+--------+-----------+---------------+---------+--------+-----+------------------+----------+
|       6|        205|      Starbucks|   Coffee|       1|  4.5|                15|2023-06-18|
+--------+-----------+---------------+---------+--------+-----+------------------+----------+

Average Delivery Time:
+---------------+-----------------+
|restaurant_name|avg_delivery_time|
+---------------+-----------------+
|         Subway|             20.0|
|      Pizza Hut|             45.0|
|    Burger King|             30.0|
|            KFC|             25.0|
|       Domino's|             40.0|
|     McDonald's|             22.5|
|      Starbucks|             17.5|
+---------------+-----------------+

Orders for a specific customer:
+--------+-----------+---------------+---------+--------+-----+------------------+----------+
|order_id|customer_id|restaurant_name|food_item|quantity|price|delivery_time_mins|   order_d|
+--------+-----------+---------------+---------+--------+-----+------------------+----------+
|       1|        201|     McDonald's|   Burger|       2| 5.99|                30|2023-06-15|
|       4|        201|         Subway| Sandwich|       2|  6.5|                20|2023-06-17|
+--------+-----------+---------------+---------+--------+-----+------------------+----------+

Orders with total amount greater than $20:
+--------+-----------+---------------+-------------+--------+-----+------------------+----------+------------+
|order_id|customer_id|restaurant_name|    food_item|quantity|price|delivery_time_mins|   order_d|total_amount|
+--------+-----------+---------------+-------------+--------+-----+------------------+----------+------------+
|       3|        203|            KFC|Fried Chicken|       3| 8.99|                25|2023-06-17|       26.97|
|       5|        204|       Domino's|        Pizza|       2|11.99|                40|2023-06-18|       23.98|
+--------+-----------+---------------+-------------+--------+-----+------------------+----------+------------+

Total quantity of each food item sold:
+-------------+--------------+
|    food_item|total_quantity|
+-------------+--------------+
|        Fries|             3|
|       Burger|             3|
|     Sandwich|             2|
|        Pizza|             3|
|       Coffee|             3|
|Fried Chicken|             4|
+-------------+--------------+

Top 3 most popular restaurants by number of orders:
+---------------+-----+
|restaurant_name|count|
+---------------+-----+
|            KFC|    2|
|      Starbucks|    2|
|     McDonald's|    2|
+---------------+-----+

Total Revenue per Day:
+----------+-------------+
|   order_d|total_revenue|
+----------+-------------+
|2023-06-18|        28.48|
|2023-06-16|        12.99|
|2023-06-15|        11.98|
|2023-06-17|        39.97|
|2023-06-20|        15.99|
|2023-06-19|        17.96|
+----------+-------------+

Longest Delivery Time for Each Restaurant:
+---------------+---------------------+
|restaurant_name|longest_delivery_time|
+---------------+---------------------+
|         Subway|                   20|
|      Pizza Hut|                   45|
|    Burger King|                   30|
|            KFC|                   25|
|       Domino's|                   40|
|     McDonald's|                   30|
|      Starbucks|                   20|
+---------------+---------------------+

New column for total order value:
+--------+-----------+---------------+-------------+--------+-----+------------------+----------+-----------------+
|order_id|customer_id|restaurant_name|    food_item|quantity|price|delivery_time_mins|   order_d|total_order_value|
+--------+-----------+---------------+-------------+--------+-----+------------------+----------+-----------------+
|       1|        201|     McDonald's|       Burger|       2| 5.99|                30|2023-06-15|            11.98|
|       2|        202|      Pizza Hut|        Pizza|       1|12.99|                45|2023-06-16|            12.99|
|       3|        203|            KFC|Fried Chicken|       3| 8.99|                25|2023-06-17|            26.97|
|       4|        201|         Subway|     Sandwich|       2|  6.5|                20|2023-06-17|             13.0|
|       5|        204|       Domino's|        Pizza|       2|11.99|                40|2023-06-18|            23.98|
|       6|        205|      Starbucks|       Coffee|       1|  4.5|                15|2023-06-18|              4.5|
|       7|        202|            KFC|Fried Chicken|       1| 8.99|                25|2023-06-19|             8.99|
|       8|        206|     McDonald's|        Fries|       3| 2.99|                15|2023-06-19|             8.97|
|       9|        207|    Burger King|       Burger|       1| 6.99|                30|2023-06-20|             6.99|
|      10|        203|      Starbucks|       Coffee|       2|  4.5|                20|2023-06-20|              9.0|
+--------+-----------+---------------+-------------+--------+-----+------------------+----------+-----------------+

In [59]:
# Weather Data

#Exercises:

from pyspark.sql.functions import sum, col, avg ,month,pow,max

df = spark.read.csv("/content/sample_data/weatherdata.csv", header=True, inferSchema=True)

#1. Find the Average Temperature for Each City
avg_temp_df = df.groupBy("city").agg(avg("temperature_c").alias("avg_temperature"))
print("Average Temperature:")
avg_temp_df.show()

#2. Filter Days with Temperature Below Freezing
freezing_days_df = df.filter(col("temperature_c") < 0)
print("Days with temperature below freezing:")
freezing_days_df.show()

#3. Find the City with the Highest Wind Speed on a Specific Day
specific_day_df = df.filter(col("date") == "2023-01-02")
city_with_highest_wind_df = specific_day_df.orderBy(col("wind_speed_kph").desc()).limit(1)
print("City with the highest wind speed on a specific day:")
city_with_highest_wind_df.show()

#4. Calculate the Total Number of Days with Rainy Weather
rainy_days_count = df.filter(col("condition") == "Rain").count()
print(f"Total number of days with rainy weather: {rainy_days_count}")

#5. Calculate the Average Humidity for Each Weather Condition
avg_humidity_df = df.groupBy("condition").agg(avg("humidity").alias("avg_humidity"))
print("Average humidity for each weather condition:")
avg_humidity_df.show()

#6. Find the Hottest Day in Each City
hottest_days_df = df.groupBy("city").agg(max("temperature_c").alias("hottest_day"))
print("Hottest day in each city:")
hottest_days_df.show()

#7. Identify Cities That Experienced Snow
snowy_cities_df = df.filter(col("condition") == "Snow").select("city").distinct()
print("Cities that experienced snow:")
snowy_cities_df.show()

#8. Calculate the Average Wind Speed for Days When the Condition was Sunny
sunny_days_avg_wind_speed_df = df.filter(col("condition") == "Sunny").agg(avg("wind_speed_kph").alias("avg_wind_speed"))
print("Average wind speed for days when the condition was sunny:")
sunny_days_avg_wind_speed_df.show()

#9. Find the Coldest Day Across All Cities
coldest_day_df = df.orderBy(col("temperature_c").asc()).limit(1)
print("Coldest day across all cities:")
coldest_day_df.show()

#10. Create a New Column for Wind Chill
df_with_wind_chill = df.withColumn("wind_chill",
    13.12 + 0.6215 * col("temperature_c") - 11.37 * pow(col("wind_speed_kph"), 0.16) +
    0.3965 * col("temperature_c") * pow(col("wind_speed_kph"), 0.16))
print("New column for wind chill:")
df_with_wind_chill.show()

Average Temperature:
+-----------+-------------------+
|       city|    avg_temperature|
+-----------+-------------------+
|Los Angeles| 17.666666666666668|
|    Chicago|-2.6666666666666665|
|   New York|  4.666666666666667|
+-----------+-------------------+

Days with temperature below freezing:
+----------+-------+-------------+--------+--------------+---------+
|      date|   city|temperature_c|humidity|wind_speed_kph|condition|
+----------+-------+-------------+--------+--------------+---------+
|2023-01-01|Chicago|           -2|      75|            25|     Snow|
|2023-01-02|Chicago|           -5|      80|            30|     Snow|
|2023-01-03|Chicago|           -1|      70|            18|   Cloudy|
+----------+-------+-------------+--------+--------------+---------+

City with the highest wind speed on a specific day:
+----------+-------+-------------+--------+--------------+---------+
|      date|   city|temperature_c|humidity|wind_speed_kph|condition|
+----------+-------+-------------+--------+--------------+---------+
|2023-01-02|Chicago|           -5|      80|            30|     Snow|
+----------+-------+-------------+--------+--------------+---------+

Total number of days with rainy weather: 1
Average humidity for each weather condition:
+---------+------------+
|condition|avg_humidity|
+---------+------------+
|   Cloudy|        65.0|
|    Sunny|        42.0|
|     Snow|        77.5|
|     Rain|        65.0|
+---------+------------+

Hottest day in each city:
+-----------+-----------+
|       city|hottest_day|
+-----------+-----------+
|Los Angeles|         20|
|    Chicago|         -1|
|   New York|          6|
+-----------+-----------+

Cities that experienced snow:
+-------+
|   city|
+-------+
|Chicago|
+-------+

Average wind speed for days when the condition was sunny:
+--------------+
|avg_wind_speed|
+--------------+
|          13.0|
+--------------+

Coldest day across all cities:
+----------+-------+-------------+--------+--------------+---------+
|      date|   city|temperature_c|humidity|wind_speed_kph|condition|
+----------+-------+-------------+--------+--------------+---------+
|2023-01-02|Chicago|           -5|      80|            30|     Snow|
+----------+-------+-------------+--------+--------------+---------+

New column for wind chill:
+----------+-----------+-------------+--------+--------------+---------+-------------------+
|      date|       city|temperature_c|humidity|wind_speed_kph|condition|         wind_chill|
+----------+-----------+-------------+--------+--------------+---------+-------------------+
|2023-01-01|   New York|            5|      60|            20|   Cloudy| 1.0669572525115663|
|2023-01-01|Los Angeles|           15|      40|            10|    Sunny| 14.604602843130213|
|2023-01-01|    Chicago|           -2|      75|            25|     Snow| -8.479874917414646|
|2023-01-02|   New York|            3|      65|            15|     Rain|-0.7170927775232809|
|2023-01-02|Los Angeles|           18|      35|             8|    Sunny| 18.403050060338735|
|2023-01-02|    Chicago|           -5|      80|            30|     Snow|-12.996724811921073|
|2023-01-03|   New York|            6|      55|            22|    Sunny| 2.1056686374397366|
|2023-01-03|Los Angeles|           20|      38|            12|    Sunny|  20.43050124240701|
|2023-01-03|    Chicago|           -1|      70|            18|   Cloudy| -6.186405252170635|
+----------+-----------+-------------+--------+--------------+---------+-------------------+

In [71]:
#Airline Flight

#Exercises:

from pyspark.sql.functions import sum, col, avg ,month

df = spark.read.csv("/content/sample_data/flightdata.csv", header=True, inferSchema=True)

#1. Find the Total Distance Traveled by Each Airline
total_distance_df = df.groupBy("airline").agg(sum("distance").alias("total_distance"))
print("Total distance traveled by each airline:")
total_distance_df.show()

#2. Filter Flights with Delays Greater than 30 Minutes
delayed_flights_df = df.filter(col("delay_min") > 30)
print("Flights with delays greater than 30 minutes:")
delayed_flights_df.show()

#3. Find the Flight with the Longest Distance
longest_flight_df = df.orderBy(col("distance").desc()).limit(1)
print("Flight with the longest distance:")
longest_flight_df.show()

#4. Calculate the Average Delay Time for Each Airline
avg_delay_time_df = df.groupBy("airline").agg(avg("delay_min").alias("avg_delay_time"))
print("Average delay time for each airline:")
avg_delay_time_df.show()

#5. Identify Flights That Were Not Delayed
not_delayed_flights_df = df.filter(col("delay_min") == 0)
print("Flights that were not delayed:")
not_delayed_flights_df.show()

#6. Find the Top 3 Most Frequent Routes
top_3_frequent_routes_df = df.groupBy("origin", "destination").count().orderBy(col("count").desc()).limit(3)
print("Top 3 most frequent routes:")
top_3_frequent_routes_df.show()

#7. Calculate the Total Number of Flights per Day
flights_per_day_df = df.groupBy("date").count()
print("Total number of flights per day:")
flights_per_day_df.show()

#8. Find the Airline with the Most Flights
most_flights_airline_df = df.groupBy("airline").count().orderBy(col("count").desc()).limit(1)
print("Airline with the most flights:")
most_flights_airline_df.show()

#9. Calculate the Average Flight Distance per Day
avg_distance_per_day_df = df.groupBy("date").agg(avg("distance").alias("avg_distance"))
print("Average flight distance per day:")
avg_distance_per_day_df.show()

#10. Create a New Column for On-Time Status
df_with_on_time_status = df.withColumn("on_time_status",
    when(col("delay_min") <= 0, "On Time").otherwise("Delayed"))
print("New column for on-time status:")
df_with_on_time_status.show()

Total distance traveled by each airline:
+---------+--------------+
|  airline|total_distance|
+---------+--------------+
|    Delta|         11840|
|   United|          5920|
|  JetBlue|          4180|
|Southwest|          2300|
| American|          5540|
+---------+--------------+

Flights with delays greater than 30 minutes:
+---------+-------+-------------+------+-----------+-------------------+-------------------+---------+--------+----------+
|flight_id|airline|flight_number|origin|destination|     departure_time|       arrival_time|delay_min|distance|      date|
+---------+-------+-------------+------+-----------+-------------------+-------------------+---------+--------+----------+
|        2| United|        UA456|   SFO|        ORD|2024-09-08 09:30:00|2024-09-08 15:00:00|       45|    2960|2023-07-01|
+---------+-------+-------------+------+-----------+-------------------+-------------------+---------+--------+----------+

Flight with the longest distance:
+---------+-------+-------------+------+-----------+-------------------+-------------------+---------+--------+----------+
|flight_id|airline|flight_number|origin|destination|     departure_time|       arrival_time|delay_min|distance|      date|
+---------+-------+-------------+------+-----------+-------------------+-------------------+---------+--------+----------+
|        7|JetBlue|        JB302|   BOS|        LAX|2024-09-08 06:30:00|2024-09-08 09:45:00|       10|    4180|2023-07-03|
+---------+-------+-------------+------+-----------+-------------------+-------------------+---------+--------+----------+

Average delay time for each airline:
+---------+------------------+
|  airline|    avg_delay_time|
+---------+------------------+
|    Delta|16.666666666666668|
|   United|              22.5|
|  JetBlue|              10.0|
|Southwest|               2.5|
| American|              20.0|
+---------+------------------+

Flights that were not delayed:
+---------+---------+-------------+------+-----------+-------------------+-------------------+---------+--------+----------+
|flight_id|  airline|flight_number|origin|destination|     departure_time|       arrival_time|delay_min|distance|      date|
+---------+---------+-------------+------+-----------+-------------------+-------------------+---------+--------+----------+
|        3|Southwest|        SW789|   DAL|        ATL|2024-09-08 06:00:00|2024-09-08 08:30:00|        0|    1150|2023-07-01|
|        6|   United|        UA457|   ORD|        SFO|2024-09-08 11:00:00|2024-09-08 14:30:00|        0|    2960|2023-07-02|
|       10|    Delta|        DL125|   JFK|        SEA|2024-09-08 13:00:00|2024-09-08 17:00:00|        0|    3900|2023-07-04|
+---------+---------+-------------+------+-----------+-------------------+-------------------+---------+--------+----------+

Top 3 most frequent routes:
+------+-----------+-----+
|origin|destination|count|
+------+-----------+-----+
|   SFO|        ORD|    1|
|   LAX|        JFK|    1|
|   DEN|        MIA|    1|
+------+-----------+-----+

Total number of flights per day:
+----------+-----+
|      date|count|
+----------+-----+
|2023-07-04|    1|
|2023-07-02|    3|
|2023-07-03|    3|
|2023-07-01|    3|
+----------+-----+

Airline with the most flights:
+-------+-----+
|airline|count|
+-------+-----+
|  Delta|    3|
+-------+-----+

Average flight distance per day:
+----------+------------------+
|      date|      avg_distance|
+----------+------------------+
|2023-07-04|            3900.0|
|2023-07-02|3233.3333333333335|
|2023-07-03|            2700.0|
|2023-07-01|2693.3333333333335|
+----------+------------------+

New column for on-time status:
+---------+---------+-------------+------+-----------+-------------------+-------------------+---------+--------+----------+--------------+
|flight_id|  airline|flight_number|origin|destination|     departure_time|       arrival_time|delay_min|distance|      date|on_time_status|
+---------+---------+-------------+------+-----------+-------------------+-------------------+---------+--------+----------+--------------+
|        1|    Delta|        DL123|   JFK|        LAX|2024-09-08 08:00:00|2024-09-08 11:00:00|       30|    3970|2023-07-01|       Delayed|
|        2|   United|        UA456|   SFO|        ORD|2024-09-08 09:30:00|2024-09-08 15:00:00|       45|    2960|2023-07-01|       Delayed|
|        3|Southwest|        SW789|   DAL|        ATL|2024-09-08 06:00:00|2024-09-08 08:30:00|        0|    1150|2023-07-01|       On Time|
|        4|    Delta|        DL124|   LAX|        JFK|2024-09-08 12:00:00|2024-09-08 20:00:00|       20|    3970|2023-07-02|       Delayed|
|        5| American|        AA101|   MIA|        DEN|2024-09-08 07:00:00|2024-09-08 10:00:00|       15|    2770|2023-07-02|       Delayed|
|        6|   United|        UA457|   ORD|        SFO|2024-09-08 11:00:00|2024-09-08 14:30:00|        0|    2960|2023-07-02|       On Time|
|        7|  JetBlue|        JB302|   BOS|        LAX|2024-09-08 06:30:00|2024-09-08 09:45:00|       10|    4180|2023-07-03|       Delayed|
|        8| American|        AA102|   DEN|        MIA|2024-09-08 11:00:00|2024-09-08 14:00:00|       25|    2770|2023-07-03|       Delayed|
|        9|Southwest|        SW790|   ATL|        DAL|2024-09-08 09:00:00|2024-09-08 11:00:00|        5|    1150|2023-07-03|       Delayed|
|       10|    Delta|        DL125|   JFK|        SEA|2024-09-08 13:00:00|2024-09-08 17:00:00|        0|    3900|2023-07-04|       On Time|
+---------+---------+-------------+------+-----------+-------------------+-------------------+---------+--------+----------+--------------+